body {
  background-image: url(../img/subtle_zebra_3d_@2X.png);
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(0,0,1,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}